<h1>Listing items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Priority</th>
    <th>Description</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for item in @items %>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.date %></td>
    <td><%= item.priority %></td>
    <td><%= item.description %></td>
    <td><%=h item.user_id %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= @user_id %>h
<br />

<%= link_to 'New Item', new_item_path %>
